* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "seccion seccion"
    "footer footer";
}
a {
  all: unset;
}
.navbar {
  background-color: #333;
  width: 100vw;
  text-indent: 1em;
  color: #ff8113;
  grid-area: navbar;
}
.sidebar {
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 1em;
  text-indent: 0.5em;
  color: white;
}
.logo {
  display: flex;
  width: 2em;
  filter: grayscale(80%);
}
a:hover {
  scale: 1.1;
  cursor: pointer;
}
.seccion {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  grid-area: seccion;
}
.portada {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grilla-pr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5em;
  gap: 1.5em;
  color: black;
}
.caja-pr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 13em;
  min-height: 13em;
}
.caja-pr img {
  width: 13em;
  height: 13em;
  object-fit: cover;
  border-radius: 8px;
  transition:
    scale 0.1s,
    border-radius 0.1s;
}
.caja-pr img:hover {
  scale: 1.1;
  border-radius: 10px;
}
.btn {
  all: unset;
  border-radius: 4px;
  color: white;
  padding: 0em 3em 0em 3em;
  background-color: #d77c2d;
  transition:
    background-color 0.1s ease,
    scale 0.1s;
}
.btn:hover {
  background-color: #ff8113;
  scale: 1.05;
}
.footer {
  background-color: #333;
  width: 100vw;
  height: 5em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}
@media screen and (min-width: 577px) {
  body {
    display: grid;
    grid-template-areas:
      "navbar navbar"
      "seccion seccion"
      "footer footer";
  }
  .sidebar {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    justify-content: baseline;
    width: 20vw;
    padding: 1em;
    text-indent: 0.5em;
    color: white;
  }
  .seccion {
    display: flex;
    flex-direction: row;
    grid-area: seccion;
  }
  .footer {
    width: 100vw;
  }
  .logo {
    display: flex;
    filter: grayscale(80%);
    padding-top: 2em;
    width: 5em;
  }
}
